*{
  margin: auto;
  padding: auto;
  font-family: "Courier New", Courier, monospace
}

html {
  background-image:url(../images/pexels-cottonbro.jpg); 
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  margin-top: 25px;
  margin-left: 25px;
}

ul li {
  text-align: center;
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 2px solid #fff;
  transition: 0.06s ease;
}

ul li a:hover{
  background-color: rgb(168, 155, 170);
  color: #000
}

ul li.active a{
  background-color: #fff;
  color: #000
}

/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.title{
  position: absolute;
  top: 30%;
  left: 83%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: rgb(236, 208, 208);
}

h1 {
  font-size: 50px;
  line-height: 54px;
  color: rgb(236, 208, 208);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.main {
  overflow: hidden;
}

.wrapper {
  background: rgb(247, 238, 238);
  -moz-box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  -webkit-box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 100px 30px;
  max-width: 960px;
  padding: 2.25%; /* 18px / 800px */
  width: 35%;
  text-align: end;
}

.branding {
  clear: both;
}

footer.branding {
  border-top: 2px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}



