<h1>Nice seeing you again! Login Here!</h1>
<br>
<form method="POST" action="/users/login">
   
    <label for="email"> Email:</label>
    <input type="email" name="email">

    <label for="password"> Password: </label>
    <input type="password" name="password"  autocomplete="off">
    <br>
    <input type="submit" value="Login">
    
</form>