<h1>Hello again!</h1>
<br>
<form method="POST" action="/users/login">
   
    <p><label for="email"> Email:</label>
    <input type="email" name="email" autocomplete="off"></p>
    <br>
    <p><label for="password"> Password: </label>
    <input type="password" name="password"  autocomplete="off"></p>
    <br>
    <input type="submit" value="Login">
    
</form>