<!DOCTYPE html>

<h1>Nice seeing you again! Login Here!</h1>
<form method="POST" action="/users/login">
   
    <label for="email"> Email:</label>
    <input type="email" name="Email">

    <label for="password"> Password: </label>
    <input type="password" name="Password"  autocomplete="off">
    <br>
    <input type="submit" value="Sign-Up">
</form>