<!DOCTYPE html>

<h1>Tattoo Artists, Create Your Account Here!</h1>
<form method="POST" action="/users/signup">
    <label for="name"> Name:</label>
    <input type="text" name="Name">

     <label for="email"> Email:</label>
    <input type="email" name="Email">

    <label for="password"> Password: </label>
    <input type="password" name="Password"  autocomplete="off">
    <br>
    <input type="submit" value="Sign-Up">
</form>