<h1>Tattoo Artists, Create Your Account Here!</h1>
<br>
<form method="POST" action="/users/signup">
    <label for="name"> Name:</label>
    <input type="text" name="name" autocomplete="off">

    <label for="email"> Email:</label>
    <input type="email" name="email" autocomplete="off">

    <label for="password"> Password: </label>
    <input type="password" name="password"  autocomplete="off">
    <br>
    <input type="submit" value="Sign-Up">
</form>