<h1> Form here to create a client</h1>

<form method="POST" action="/clients/new">

    First Name: <input type="text" name="first_name">
    <br>
    Last Name: <input type="text" name="last_name">
    <br>
    Design Description: <input type="text" name="description">
    <br>
    Design Location: <input type="text" name="location">
    <br>
    Quoted Price: $<input type="number" name="price">
    <br>
    Appointment Date: <input type="date" name="appt_date">
    <br>
   
    <input type="submit" value="Add Client">