<!DOCTYPE html>
  <head>

    <title>Ink Complete!</title>

    <link rel="stylesheet" href="/stylesheets/new.css" />
  </head>
  <body>
    <header>
      <div class="main">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/clients">View Clients</a></li>
          <li><a href="/clients/new">Add A Client</a></li>
          <li><a href="/users/:id/logout">Logout</a></li>
        </ul>
      </div>
      <div class="title">
      <h1> !nk Complete </h1>
      </div>
  
    </header>
  
  
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Ink Complete</strong></small>
      </footer>
    </div>

    
  </body>
</html>
