<h1>Ink Complete!</h1>
<br>
<p>Your one stop shop for Tattoo Artist Client Management!</p>
<h3> No More Wasted Pages </h3>
<p>Your pen and pad should be used for artwork. Not scheduling.</p>
<h3>Stop Filtering Through Email After Email</h3>
<br>

<a href="/users/signup">Sign Up Here</a><br>
<a href="/users/login">Login Here</a>